<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianlin.myapplication"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="26" />

    <!-- begin: baidu speech sdk  权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- end: baidu speech sdk  权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- begin: baidu speech sdk  权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- end: baidu speech sdk  权限 -->
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="11631702" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="LSs0oGXY8NtGn9imTlxSzOhU" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="BIjhOk59QDlHXmXlqS0AxYsKmlrfVZwm" />
        <!-- 请确认集成后的包名是否正确，本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看 -->
        <!-- <service -->
        <!-- android:name="com.baidu.speech.VoiceRecognitionService" -->
        <!-- android:exported="false" /> -->

        <activity
            android:name=".MainActivity"
            android:label="语音机器人">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionSchemes"
            android:label="指令管理中心" />
        <activity
            android:name=".EstablishNewPlan"
            android:label="创建新指令集" />
        <activity
            android:name=".PlanModifier"
            android:label="指令编辑" />
        <activity
            android:name=".ChoosePlan"
            android:label="选择执行方案" />
        <activity
            android:name=".ActivityOffline"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="离线命令词"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseWifiIP"
            android:label="选择IP地址" />
        <activity
            android:name=".ChoseConnectionMedia"
            android:label="选择连接方式" />
        <activity android:name=".ChooseMode"
            android:label="选择操控方式"></activity>
    </application>

</manifest>